%h2 Gelen Mesaj Listesi

%table.table{:style => "font-size:9pt; width:50%;"}
  %thead
    %tr
      %th Konu
      %th İçerik
      %th Gönderen
      
  %tbody
    - @iletisims.each do |iletisim|
      %tr
        %td= iletisim.title
        %td= iletisim.content
        %td= iletisim.sender

        %td
          = link_to  iletisim , class: 'btn btn-default btn-xs' do
            %i.icon.glyphicon.glyphicon-eye-open
          = link_to  iletisim, :method => :delete, :data => { :confirm => 'Mesaj Silinecek?' },class: 'btn btn-default btn-xs' do
            %i.glyphicon.glyphicon-trash

%br
